.heading{
background:#bfbfba;
color:#40628c;
text-align: center;
font-family: 'Notable';
  font-style: normal;
  font-weight: 400;

}
.container-fluid
{
  background-color:#ccc5c559;
}
.image1
{
  width: 13100px;
  height: 260px;
}
.image2
{
  width: 300px;
  height: 250px;
}
#myImage1
{
  width: 160px;
  height: 250px;
  margin-left:120px;
  border-color: green;
  margin-top: 30px;
}

#myImage2
{
  width: 160px;
  height: 250px;
  margin-left: 130px;
  margin-top: 30px;

}
#myImage3
{
  width: 160px;
  height: 250px;
  margin-left:127px;
  margin-top: 30px;
}

.btn{
  color:white;
  width: 100px;
  font-family:initial;

}
.btn1{
  margin-left: 100px;
  margin-bottom: 10px;
}

.row{
  margin-top: 20px;
}

.abc{
  background-color:#e4e4de;
}
